<h1>Create account</h1>
<form class="content__form" action="add-author" method="post">
    <p>Please fill in this form to create an account.</p>
    <hr>
    
    <label for="first_name"><b>First name</b></label>
    <input class="content__field" type="text" placeholder="Your first name" name="first_name" id="first_name" required>

    <label for="last_name"><b>Last name</b></label>
    <input class="content__field" type="text" placeholder="Your last name" name="last_name" id="last_name" required>

    <label for="email"><b>Email</b></label>
    <input class="content__field" type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input class="content__field" type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw_repeat"><b>Repeat Password</b></label>
    <input class="content__field" type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
</form>

