<h2>Drafts</h2>
<table class="content__table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Created</th>
            <th>Last change</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" id="capybara" name="capybara"></td>
            <td><label for="capybara">Capybara</label></td>
            <td>2022.07.15 21:15</td>
            <td>2022.07.15 21:15</td>
        </tr>
        <tr>
            <td><input type="checkbox" id="capybara" name="capybara"></td>
            <td><label for="capybara">Capybara</label></td>
            <td>2022.07.15 21:15</td>
            <td>2022.07.15 21:15</td>
        </tr>
        <tr>
            <td><input type="checkbox" id="capybara" name="capybara"></td>
            <td><label for="capybara">Capybara</label></td>
            <td>2022.07.15 21:15</td>
            <td>2022.07.15 21:15</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>
<label for="action">Actions:</label>

<select id="action">
    <option value="pub">Publish</option>
    <option value="del">Remove</option>
</select>
<button type="submit" class="registerbtn">Apply</button>
<h2>Published articles</h2>
<table class="content__table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Created</th>
            <th>Published</th>
            <th>Likes</th>
            <th>Last change</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" id="where_node" name="where_node"></td>
            <td><label for="where_node">Where Node</label></td>
            <td>2022.07.15 21:15</td>
            <td>2022.07.20 08:13</td>
            <td>56</td>
            <td>2022.07.15 21:15</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>
<button type="submit" class="registerbtn">Remove from publication</button>
<h2>All articles</h2>

<table class="content__table">
    <thead>
        <tr>
            <th>Checkbox</th>
            <th>Title</th>
            <th>Created</th>
            <th>Published</th>
            <th>Likes</th>
            <th>Last change</th>
            <th>Removed from publication</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" id="where_node" name="where_node"></td>
            <td><label for="where_node">Where Node</label></td>
            <td>2022.07.15 21:15</td>
            <td>2022.07.20 08:13</td>
            <td>56</td>
            <td>2022.07.15 21:15</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="capybara" name="capybara"></td>
            <td><label for="capybara">Capybara</label></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
