<h1>Sign in to SmallBlog</h1>

<form class="content__form" action="login" method="post">
    <hr>
    <label for="email"><b>Email</b></label>
    <input class="content__field" type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input class="content__field" type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <hr>

    <p>If you don't have an account, you can <a href="/author/add-author">Register here</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
</form>