<h1>Profile Settings</h1>
<div class="content__profile">
    <ul class="content__list">
        <li class="content__label account-label selected" data-target="account">
            <div class="content__account"><h3>^_^</h3></div>
            <span>Account</span>
        </li>
        <li class="content__label password-label" data-target="password">
            <div class="content__account">:~X</div>
            <span>Password</span>
        </li>
        <a href="/author/home-page" target="_self">
        <li class="content__label " data-target="password">
            <div class="content__account"><h2>&lt;<h2></div>
            <span>Back</span>
        </li></a>
    </ul>

    <form  action="/author/settings" method="post" id="profileForm">
        <div id="accountFields">
            <label for="blog_name"><b>The name of the blog</b></label>
            <input class="content__field" type="text" name="blog" id="blog_name" value="<%= user.blog %>" required>

            <label for="first_name"><b>First name</b></label>
            <input class="content__field" type="text" name="first_name" id="first_name" value="<%= user.first_name %>" required>
        
            <label for="last_name"><b>Last name</b></label>
            <input class="content__field" type="text" name="last_name" id="last_name" value="<%= user.last_name %>" required>
        </div>

        <div id="passwordFields" style="display: none;">
            <label for="psw"><b>New Password</b></label>
            <input class="content__field" type="password" placeholder="Enter New Password" name="psw" id="psw">

            <label for="psw_repeat"><b>Repeat Password</b></label>
            <input class="content__field" type="password" placeholder="Repeat New Password" name="psw_repeat" id="psw_repeat">
        </div>

        <button class="registerbtn" type="submit">Save changes</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Selecting necessary elements from the DOM
        const profileForm = document.getElementById('profileForm');
        const accountLabel = document.querySelector('.account-label');
        const passwordLabel = document.querySelector('.password-label');
        const accountFields = document.getElementById('accountFields');
        const passwordFields = document.getElementById('passwordFields');

        // Function to toggle between account and password fields
        function toggleFormFields(target) {
            if (target === 'account') {
                accountFields.style.display = 'block';
                passwordFields.style.display = 'none';
            } else if (target === 'password') {
                accountFields.style.display = 'none';
                passwordFields.style.display = 'block';
            }
        }

        // Initial setup of form fields when the page loads
        toggleFormFields(accountLabel.getAttribute('data-target'));

         // Click event listener for account label
        accountLabel.addEventListener('click', function() {
            accountLabel.classList.add('selected');
            passwordLabel.classList.remove('selected');
            toggleFormFields('account');
        });
        
         // Click event listener for password label
        passwordLabel.addEventListener('click', function() {
            passwordLabel.classList.add('selected');
            accountLabel.classList.remove('selected');
            toggleFormFields('password');
        });
    });
</script>